@import '../../../styles/colors';
@import '../../../styles/mixins';

.new-transaction {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  width: 100%;

  &__title {
    color: $primary;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;

    &__fields {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .select {
        width: 100%;
        max-width: 18%;

        @include respond(phone) {
          max-width: 30%;
        }
      }

      .input {
        width: 100%;
        max-width: 20%;

        @include respond(phone) {
          max-width: 60%;
        }

        &.input--description {
          max-width: 50%;

          @include respond(phone) {
            max-width: 100%;
          }
        }
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
    }

    &__button {
      margin-top: 1rem;
      background-color: $white;

      margin: auto;

      @include respond(phone) {
        margin-top: 2rem;
      }

      &--submit {
        color: $primary;
        border: 2px solid $primary;

        &:hover {
          background-color: $primary;
          color: $white;
        }
      }

      &--cancel {
        color: $secondary;
        border: 2px solid $secondary;

        &:hover {
          background-color: $secondary;
          color: $white;
        }
      }
    }
  }
}
