@import '../../../styles/colors';

.select {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 2rem;
  margin-top: 0.5rem;

  &--error {
    .select__field,
    .select__field:focus {
      border-color: $red;
      outline: none;
    }

    .select__label,
    .select__field,
    .select__error-text {
      color: $red;
    }
  }

  &__label {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  &__field {
    font-size: 2rem;
    padding: 1rem;
  }

  &__error-text {
    font-size: 1.5rem;
    margin-top: 2px;
  }
}
