@import '../../../styles/colors';

.balance {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 2.5rem;
  margin-bottom: 3rem;

  background-color: $grey;
  border-radius: 20px;

  &__title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: $secondary;
  }

  &__value {
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    color: $primary;
    word-break: break-word;
  }
}
