@import '../../../styles/colors';
@import '../../../styles/mixins';

.transaction-history {
  width: 100%;

  &__title-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .transaction-history__title {
      font-size: 2.3rem;
      color: $secondary;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  &__list {
    margin-top: 10px;
    list-style: none;
  }

  &__list-item {
    margin: 10px 0;
  }

  &__empty-list {
    margin-top: 10px;
    font-size: 2rem;
  }
}
