@import '../../../styles/colors';
@import '../../../styles/mixins';

.transaction-history {
  &__title {
    font-size: 3rem;
    color: $secondary;
  }

  &__list {
    margin-top: 10px;
    list-style: none;
  }

  &__list-item {
    margin: 10px 0;
  }
}
