@import '../../../styles/colors';
@import '../../../styles/mixins';

.transaction-detail {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 1.5rem 0;

  background-color: $grey;
  padding: 1.5rem 2rem;

  &--positive {
    border-left: 5px solid $green;
  }

  &--negative {
    border-left: 5px solid $red;
  }

  &__date {
    display: flex;

    margin-left: 3rem;

    .hours-format {
      margin-top: 10px;
      margin-right: 3rem;

      @include respond(phone) {
        display: none;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 2rem;
      color: $primary;
      word-break: break-all;
    }

    &__value {
      margin-top: 1rem;
    }
  }
}
