@import '../../../styles/colors';

.input {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-bottom: 2rem;
  margin-top: 0.5rem;

  &--error {
    .input__field,
    .input__field:focus {
      border-color: $red;
      outline: none;
    }

    .input__label,
    .input__field,
    .input__error-text {
      color: $red;
    }
  }

  &__label {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  &__field {
    font-size: 2rem;
    padding: 1rem;
  }

  &__error-text {
    font-size: 1.5rem;
    margin-top: 2px;
  }
}
